
body{
    margin: 0%;
    padding: 0%;
    
}
header{
    height: 361px;

    background-image: url(../photos/1_R042tVTBP7znwsskasktBg.jpeg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 25%;

}
#background-image{
    opacity: 0.5;
}


#navBar{
    text-align: right;
    background: #2c3e50;
    width: 100%;
    
}

li{
    display: inline-block;
    padding: 10pt;
}
#navnav{
    color: white;
    font-family: Noto Sans, sans-serif;
   text-decoration: none;

}
#navBar  a:hover{
    color: rgb(138, 135, 135);
    text-transform: uppercase;
}


/*
#workArea{
    
    font-family: Noto Sans, sans-serif;
    padding-left: 10pt;
    
}
*/
#searchWork a{
    padding: 10pt;
    text-transform: uppercase;
}

#searchWork a:hover{

    background: #3498db;
    line-height: 38pt;
}

#searchWork{
  display: inline-block;
  color: rgb(0, 0, 0);

  padding: 15pt;
  text-decoration: none;
  border: 1pt solid;
  margin-right: 100%;
  background: rgb(228, 225, 225);
  font-size: 17pt;
}

#sendUwork{
    padding-left: 10pt;
    text-align: right;
    margin-top: -200pt;
    
    text-align: center;

}

#fileChoiser{
    text-decoration: none;
    border: none;
    margin-left: 100pt;
}

#howItWorks a:hover{
    text-transform: uppercase;
}

#howItWorks{
    margin-left: 80%;
    padding: 5pt;
    font-size: 17pt;
}


main{
    

    
    border: 1pt solid;
}


footer{

    bottom: 100%;
}
/*
::-webkit-scrollbar{
    padding: 20px 40px;
    background: #ddd;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px #00000070;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(125deg,#3e4852,#34587c);
    border-radius: 10pt;
}
*/
